* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Science Gothic', sans-serif;
    background: black;
  }
  
  .wrapper {
    width: 760px;
    margin: 60px auto;
    background: white;
  }
  
  /* HERO */
  .hero {
    padding: 110px 0;
    text-align: center;
  }
  
  .hero h1 {
    font-size: 58px;
  }
  
  
  /* PRODUCTS */
  .products {
    border-top: 12px solid black;
    border-bottom: 12px solid black;
    background: #e5e5e5;
    display: flex;
    justify-content: space-around;
    padding: 80px 0;
    text-align: center;
  }
  
  .product h2 {
    font-size: 26px;
    margin-bottom: 20px;
  }
  
  button {
    border: 3px solid black;
    background: white;
    padding: 8px 18px;
    font-weight: bold;
    font-size: 14px;
  }
  
  /* USED */
  .used {
    padding: 140px 0;
    text-align: center;
  }
  
  .used h3 {
    font-size: 44px;
    line-height: 1.2;
  }
  
  /* FOOTER */
  .footer {
    border-top: 12px solid black;
    padding: 60px 0;
    text-align: center;
  }
  