body {
    margin: 0;
    font-family: 'Science Gothic', sans-serif;
    background: black;
  }
  
  .wrapper {
    max-width: 820px;
    margin: 0 auto;
  }
  
  .hero,
.products,
.used,
.footer {
  background: white;
  text-align: center;
  border-top: 10px solid black;
}

.hero {
  border-top: none;
  padding: 100px 0;
}

.hero h1 {
  font-size: 60px;
}

.products {
    background: #e6e6e6;
    display: flex;
    justify-content: space-around;
    padding: 70px 0;
  }
  
.product h2 {
    font-size: 26px;
    margin-bottom: 20px;
  }
  
button {
    border: 3px solid black;
    background: white;
    padding: 8px 18px;
    font-weight: bold;
  }
 
.used {
    padding: 120px 0;
  }
  
.used h3 {
    font-size: 42px;
  }
  
.footer {
    padding: 60px 0;
  }
  